<html>
<head>
    <title>Salary Estimator</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <form method="post">
        <input type="number" name="num1" value="30"/>
        <input type="number" name="num2" value="32"/>
        <input type="submit">
    </form>
</body>
</html>