<html>
<head>
    <title>Salary Estimator</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Software Engineer Salary Estimator</h1>
    <form method="post">
        <label for="years-code-input">Years Experience Coding</label>
        <input id="years-code-input" type="number" name="num1"/>
        <br/>
        <label for="years-code-pro-input">Years Experiecne Coding Professionally</label>
        <input id="years-code-pro-input" type="number" name="num2"/>
        <br/>
        <label for="actual-salary-input">Actual Salary</label>
        <input id="actual-salary-input" type="number" name="actual-salary"/>
        <p>
            <em>Provided salaries will be saved and used to retrain the estimator. Your salary cannot be linked to your identity. We do not collect nor save any identifying information. The application is open source.</em>
            <a href="https://github.com/BlairCurrey/swe-salary-predictor">Github Repo</a>
        </p>
        <br/>
        <input type="submit">
    </form>
</body>
</html>