<html>
<head>
    <title>Salary Estimator</title>
     <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
</head>
<body>
    <h1>Software Engineer Salary Estimator</h1>
    <p>All inputs are required, except for <strong>Actual Salary</strong>. If <strong>Actual Salary</strong> is provided and permission is granted, your input will be used when the model is periodically retrained</p>
    <form method="post">
        <label for="years-code-input">Years Experience Coding</label>
        <input id="years-code-input" type="number" name="years_code" required/>
        <br/>
        <label for="years-code-pro-input">Years Experience Coding Professionally</label>
        <input id="years-code-pro-input" type="number" name="years_code_pro" required/>
        <br/>
        <label for="age-input">Age</label>
        <input id="age-input" type="number" name="age" required/>
        <br/>
        <label for="age-first-code-input">Age You First Coded</label>
        <input id="age-first-code-input" type="number" name="age_first_code" required/>
        <br/>
        <label for="country-select">Country</label>
        <select id="country-select" name="country" required>
            {% for country in countries %}
                <option value="{{country}}">{{country}}</option>
            {% endfor %}
        </select>
        <br/>
        <label for="ed-level-select">Education Level</label>
        <select id="ed-level-select" name="ed_level" required>
            {% for ed_level in ed_levels %}
                <option value="{{ed_level}}">{{ed_level}}</option>
            {% endfor %}
        </select>
        <br/>
        <label for="dev-type-multiselect">Role Type</label>
        <select id="dev-type-multiselect" name="dev_type" required>
            {% for dev_type in dev_types %}
                <option value="{{dev_type}}">{{dev_type}}</option>
            {% endfor %}
        </select>
        <br/>
        <label for="languages-multiselect">Languages <em>(multiselect)</em></label>
        <select id="languages-multiselect" name="languages" multiple required>
            {% for language in languages %}
                <option value="{{language}}">{{language}}</option>
            {% endfor %}
        </select>
        <br/>

        <label for="salary-actual-input">Actual Salary</label>
        <input id="salary-actual-input" type="number" name="salary_actual"/>
        <label for="permission-granted-input">I grant permission to save my input</label>
        <input id="permission-granted-input" type="checkbox" checked name="permission_granted"/>
        <p>
            <em>If you grant permission, salaries will be saved and used to retrain the estimator. Your salary cannot be linked to your identity. We do not collect nor save any identifying information. The application is open source.</em>
            <a href="https://github.com/BlairCurrey/swe-salary-predictor">Github Repo</a>
        </p>
        <br/>
        <input type="submit">
    </form>
</body>
</html>